# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Large Files (removed *.pt and *.onnx to allow model deployment)
# *.onnx (Removed to allow push)

# IDE
.vscode/
.idea/
