Django==5.0.1
opencv-python==4.9.0.80
opencv-contrib-python-headless==4.9.0.80
ultralytics==8.4.21
Pillow==10.2.0
numpy==1.26.3
twilio==9.0.0
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
django-cloudinary-storage==0.3.0
cloudinary==1.38.0
onnxruntime==1.24.3
onnx==1.17.0
